.account-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.account-logout-button {
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.5rem 1.5rem;
}

.account-greeting {
    padding: 4rem 0 2rem 0;
}

.update-container {
    background: var(--mainWhite);
    width: 40vw;
    height: 90vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 3rem;
    box-shadow: 2px 2px 15px var(--mainGray);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: opacity .3s; 
}

.update-container-2 {
    background-color: var(--offWhite);
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 2px 2px 15px var(--mainGray);
}

.update-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-cancel {
    color: var(--mainYellow);
    font-size: 1rem !important;
    cursor: pointer;
    padding-top: 2rem;
}
.update-cancel:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .account-greeting {
        font-size: 1.5rem
    }
}

@media only screen and (max-width: 418px) {
    .account-greeting {
        font-size: 1.1rem;
    }
}