@import './navbar.css';
@import './banner.css';
@import './productCategories.css';
@import './productCategory.css';
@import './contact.css';
@import './button.css';
@import './jewelryList.css';
@import './jewelryProduct.css';
@import './rings.css';
@import './carousel.css';
@import './slideControls.css';
@import './copyright.css';

:root {
    --mainYellow: #d18f14;
    --mainWhite: rgb(247, 247, 247);
    --offWhite: rgb(233, 233, 233);
    --whiteOverlay: rgba(247, 247, 247, 0.15);
    --mainGray: rgb(87, 87, 87);
}  

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.content {
    margin-top: 105px;
    position: relative;
}