.carousel-container {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 3rem
}

.carousel-container h1 {
    padding: 2rem
}

.slick-track {
    margin: auto !important;
}

.slick-prev {
    left: -4.5% !important;
    top: 47% !important;
    z-index: 1;
}

.slick-next {
    right: -2% !important;
    top: 47% !important;
    z-index: 1;
}

.slick-prev::before,
.slick-next::before {
    font-size: 50px !important;
    color: var(--mainYellow) !important;
    opacity: .75 !important;
    
    transition: all .25s ease-in-out;
}
.slick-prev:hover::before,
.slick-next:hover::before {
    color: var(--mainYellow) !important;
    opacity: 1 !important;
}

.slick-dots li.slick-active button::before {
    color: var(--mainYellow) !important;
}

@media only screen and (max-width: 1282px) {
    .slick-prev::before,
    .slick-next::before {
        font-size: 40px !important;
    }
}

@media only screen and (max-width: 665px) {
    .slick-dots li {
        width: 15px !important;
        height: 15px !important;
        margin: 0 1px !important;
    }
}