.cart-container {
    min-height: calc(100vh - 105px);
}

.cart-columns-container {
    /* width: 100%;
    display: flex; */
}

.cart-columns-row {
    flex-wrap: nowrap !important;
}

.btn-basic {
    border: 1px solid black;
    background: none;
    padding: 5px 12px;
}

.btn-black {
    cursor: pointer;

    transition: all .3s ease-out;
}
.btn-black:hover {
    color: white;
    background-color: black;
}

.quantity-ctrl {
    border: 1px solid rgb(61, 61, 61);
    border-radius: 30px;
    width: 100px;
    padding: 5px 0;
    display: flex;justify-content: space-evenly;
}
.quantity-btn {
    border: none;
    background: none;
    padding: 5px;
}
.quantity-btn:hover {
    color: var(--mainYellow);
}
.quantity-text {
    padding: 5px;
}

#no-border {
    border: none;
}

.fa-trash {
    cursor: pointer;

    transition: all .3s ease-out;
}
.fa-trash:hover {
    color: var(--mainYellow)
}

.cart-added-container {
    background: var(--mainWhite);
    width: 300px;
    height: 150px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 1rem;
    box-shadow: 2px 2px 15px var(--mainGray);
    z-index: 10002;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    transition: opacity .3s 
}
.invisible {
    opacity: 0;
    height: 0;
}

.cart-added-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-added-message i {
    color: var(--mainYellow);
}

.cart-added-message p {
    margin: 0;
    padding-left: 1rem;
}

.cart-added-buttons {
    display: flex;
    width: 100%;
}

.cart-added-overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10001;

    transition: all .5s ease-in-out;
}