.contact {
    background: var(--mainWhite);
    font-family: 'Source Sans Pro', sans-serif;
}

.contact h5 {
    font-family: 'Playfair Display', Times, serif;
    font-weight: 700;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem;
    padding-bottom: 0;
}

.contact-grid-left,
.contact-grid-middle,
.contact-grid-right {
    display: grid;
    grid-template-rows: repeat(5, 40px);
}

.contact-grid-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: fit-content;
    row-gap: .75rem;
    column-gap: .75rem;
}

.contact-form-box {
    position: relative;
}

.contact-grid-form input {
    width: 250px;
    height: 3rem;
}
.contact-grid-form input:focus {
    outline: none;
}

.underline {
    display: block;
    border-bottom: 1px solid var(--mainYellow);
    position: absolute;
    bottom: 0;
    width: 0;
    
    transition: width .5s ease-out;
}

.contact-grid-form input:focus + span {
    width: 100%;
}

.contact-form-input {
    border: none;
    padding: .5rem
}

#message {
    resize: none;
    width: 250px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    height: 100%;
}
#message:focus {
    outline: none;
}
#message:focus + span {
    width: 100%;
}

.send {
    grid-column: 2 / span 1;
    width: 40%;
    justify-self: end;
    color: var(--mainYellow);
    background: transparent;
    position: relative;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    /* display: block; */
    overflow: hidden;
}
.bg {
    left: -5%;
    position: absolute;
    background-color: var(--mainYellow);
    width: 0;
    height: 100%;
    z-index: 3;

    transition: all .5s ease-out;
    transform: skewX(-10deg)
}
.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid var(--mainYellow);

    transition: color .5s ease-out;
}
.send:hover {
    cursor: pointer;
}
.send:hover .text {
    color: black;
}
.send:hover .bg {
    width: 120%;
}

.newsletter {
    padding-left: 4rem;
    margin-top: 3rem;
}

.newsletter h5 {
    font-weight: 600;
}

.newsletter button {
    border: none;
    border-bottom: 1px solid black;
    padding: .2rem 1rem;
    color: var(--mainYellow);

    transition: color .5s ease-out;
}
.newsletter button:hover {
    color: black;
}

#newsletter {
    width: 30%;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: .2rem
}