.details-container {
    background: var(--mainWhite);
    width: 85vw;
    height: 90vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 1rem 3rem;
    box-shadow: 2px 2px 15px var(--mainGray);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: opacity .3s 
}
.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}

.details-title-row {
    display: flex;
}

.menu-close-modal {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-close-modal:hover {
    transform: rotate(-90deg);
}

.details-info-row {
    display: flex;
    margin-top: 2rem;
    /* display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    margin-top: 2rem;
    overflow: hidden; */
}

.details-info-row-img img {
    width: auto;
    min-width: 260px;
    max-height: 386px;
}

.details-info-row-info {
    margin-left: 2rem;
}

.details-info-row-info-cart {
    display: flex;
    align-items: center;
}
.details-info-row-info-cart p {
    margin-right: 1rem;
    margin-bottom: 0;
}

.quantity-container {
    display: flex;
    align-items: center;
}

.details-btn {
    /* position: relative; */
    width: 150px;
    margin-left: 1rem;
}

.details-overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9999;

    transition: all .5s ease-in-out;
}

@media only screen and (max-width: 870px) {
    .details-info-row-info h3 {
        font-size: 1.5rem
    }
    .details-info-row-info h5 {
        font-size: 1.2rem
    }
    .details-info-row-info p {
        font-size: .9rem
    }
}

@media only screen and (max-width: 800px) {
    .details-container {
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
    }
    .details-title-row h1 {
        font-size: 1.75rem;
    }
    .details-info-row {
        display: flex;
        flex-direction: column;
    }
    .details-info-row-img {
        margin-bottom: 40px;
    }
    .details-info-row-img img {
        width: 100%;
        max-width: 260px;
    }
    .details-info-row-info {
        margin-left: 0;
    }
}

@media only screen and (max-width: 454px) {
    .details-info-row-info-cart {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .details-btn {
        margin-top: 20px;
        margin-left: 0;
    }
}