.details-container {
    background: var(--mainWhite);
    width: 85vw;
    height: 90vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 1rem 3rem;
    box-shadow: 2px 2px 15px var(--mainGray);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: opacity .3s 
}
.invisible {
    opacity: 0;
    height: 0;
}

.details-title-row {
    display: flex;
}

.menu-close-modal {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-close-modal:hover {
    transform: rotate(-90deg);
}

.details-info-row {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    margin-top: 2rem;
}

.details-info-row-img img {
    width: 100%
}

.details-info-row-info-cart {
    display: flex;
    align-items: center;
}
.details-info-row-info-cart p {
    margin-right: 1rem;
    margin-bottom: 0;
}

.details-btn {
    /* position: relative; */
    width: 150px;
    margin-left: 1rem;
}

.details-overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9999;

    transition: all .5s ease-in-out;
}