.navbar {
    background-color: white;
    box-shadow: 0px 2px 15px rgb(117, 117, 117);
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0;
    /* height: 105px; */
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.navbar-brand {
    width: 175px;
    margin: -3rem 0;
    transition: all .3s ease-out
}
.nav-scroll {
    width: 175px;
    margin: -4rem 0;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    left: 20rem;
    margin: 0;
}

.nav-item {
    margin: 1rem;
    font-weight: 400;
    font-size: 1.1rem;
}

.link {
    color: black;
    text-decoration: none;
    transition: color .3s ease-in-out;
}
.link:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--mainYellow)
}
.active {
    color: var(--mainYellow)
}

.right-links {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 3rem;
    margin-bottom: 0;
    align-items: center;
}

.right-link-item {
    margin: .5rem;
    font-size: 1.75rem;
    color: black;
}

.cart {
    position: relative;
}

#shopping-bag {
    position: relative;
    bottom: 1px;
}

.cart-total {
    position: absolute;
    top: -2px;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainYellow);
    color: var(--mainWhite);
    font-size: .75rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
}

.burger {
    cursor: pointer;
    margin-left: 2rem;
}

.d-none {
    display: none;
}
.d-block {
    display: block;
}

.burger div {
    width: 28px;
    height: 2px;
    background-color: black;
    z-index: 4;
    margin: 7px;
    transition: all .5s ease-in-out;
}
.burger:hover  div {
    background-color: var(--mainYellow)
}
.burger:hover .line1,
.burger:hover .line3 {
    width: 20px
}

