.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all .3s ease-in-out
}
.product-card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
}
.product-card:hover .product-card-desc {
    color: var(--mainYellow);
    background: var(--offWhite);
}
.product-card:hover img {
    transform: scale(1.1);
}
.product-card:hover .overlay {
    background-color: var(--whiteOverlay);
}

.product-card-image {
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    transition: all .3s ease-in-out;
}

img {
    transition: transform .3s ease-in-out;
}

.product-card-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease-out;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 1rem 0
}
