.product-categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.product-categories-container h1 {
    font-family: 'Playfair Display', Times, serif;
}

.product-categories-row {
display: flex;
justify-content: space-around;
padding: 4rem;
flex-wrap: wrap;
}