.rings-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rings-container h1 {
    margin-bottom: 3rem
}

.rings-slider {
    /* display: flex;  */
}

.slides {
    display: flex; 
    z-index: -1;

    transition: all .5s ease-in-out;
    /* transform: translateX(-103.8%) */
}

